@media (max-width: 1024px) {
  .cards {
    width: 100%;
    max-width: 800px;
    justify-content: center;
    gap: 30px;
  }
  
  .cards > * {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    min-width: 300px;
  }

  .card_services {
    width: 100%;
    max-width: 800px;
    justify-content: center;
    gap: 30px;
  }
  
  .card_services > * {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
    min-width: 300px;
  }

  .sobre_nosotros {
    width: 800px;
  }

  .body_sobre_nosotros {
    flex-direction: column;
  }

  .body_sobre_nosotros h2 {
    text-align: center;
  }

  .body_sobre_nosotros .text_nosotros {
    text-align: center;
    width: 100%;
  }

  .images_sobre_nosotros img:nth-child(1) {
    margin-left: 0px;
  }

  .images_sobre_nosotros img:nth-child(2) {
    margin-left: 300px;
  }

  .letter_experiencia {
    top: 240px;
  }

  .seccion_identidad {
    display: flex;
    justify-content: center;
  }

  .buton_leer_mas {
    display: flex;
    justify-content: center;
  }

  .img_degradado {
    width: 900px;
  }

  .style_puntos {
    left: 500px;
  }

  .servicios {
    margin-top: 900px;
  }
}

/* Para dispositivos móviles - efectos más sutiles */
@media (max-width: 768px) {

  .img_degradado {
    width: 600px;
  }

  .text_caracteristicas h2 {
    font-size: 30px !important;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 480px;
    gap: 25px;
    margin-top: 30px;
  }
  
  .cards > * {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 280px;
    padding: 12px;
  }

  .sobre_nosotros {
    width: 600px;
  }

  .sobre_nosotros_izquierdo h2 {
    font-size: 30px;
  }

  .images_sobre_nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images_sobre_nosotros img:nth-child(1) {
    width: 330px;
  }

  .images_sobre_nosotros img:nth-child(2) {
    width: 200px;
    margin-left: 300px;
    margin-top: -140px;
  }

  .letter_experiencia {
    width: 240px;
    height: 42px;
    top: 330px;
    left: 0;
    margin-left: 120px;
  }

  .letter_experiencia p:nth-child(1) {
    font-size: 18px;
  }

  .letter_experiencia p:nth-child(2) {
    font-size: 16px;
  }

  .text_servicios h2{
    font-size: 30px;
    width: 580px;
  }

  .servicios {
    margin-top: 900px;
  }

  .card_services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 25px;
  }
  
  .card_services > * {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 280px;
  }

  .floating-style {
    animation: floating-mobile 2s ease-in-out infinite;
  }
  
  @keyframes floating-mobile {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .counter-number {
    font-size: 24px !important;
  }
  
  .letter_experiencia:hover {
    transform: scale(1.01);
  }
}

@media (max-width: 425px) {
  .sobre_nosotros {
    width: 100%;
    margin-top: -80px;
  }

  .style_puntos {
    left: 200px;
  }

  .sobre_nosotros_izquierdo h2 {
      font-size: 24px;
  }

  .identidad_mikrotik {
    width: 300px;
    height: 394px;
  }

  .identidad_mikrotik h4 {
    font-size: 20px;
  }

  .list_identidad p {
      font-size: 14px;
  }

  .images_sobre_nosotros img {
    display: none;
  }

  .letter_experiencia {
    top: 0px;
    flex-direction: column;
    width: 200px;
    height: 80px;
  }

  .servicios {
    margin-top: 320px;
  }

  .text_servicios h2 {
    font-size: 18px;
    width: 100%;
  }

  .card_services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    gap: 25px;
  }
  
  .card_services > * {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 280px;
  }

  .img_degradado {
    width: 400px;
    margin-top: 400px !important;
  }
}

@media (max-width: 375px) {
  .style_puntos img {
    width: 140px;
  }

  .letter_experiencia {
    margin-left: 80px;
  }
}

@media (max-width: 320px) {
  .text_caracteristicas h2 {
    font-size: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    gap: 25px;
    margin-top: 30px;
    margin-left: 34px;
  }
  
  .cards > * {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 200px;
    padding: 12px;
  }

  .card_services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 240px;
    gap: 25px;
  }
  
  .card_services > * {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 200px;
  }

  .identidad_mikrotik {
    width: 280px;
    height: 450px;
  }

  .letter_experiencia {
    margin-left: 55px;
  }

  .img_degradado {
    width: 300px;
    margin-top: 440px !important;
  }

  .style_puntos img {
    width: 100px;
  }

  .servicios {
    margin-top: 480px;
  }
}